.env
.vscode/
__pycache__/
*.pyc
.pytest_cache/
.venv/
*.egg-info/
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Logs
*.log
logs/*.log
logs/

temp/
scratch
Phase2_Learning_Guide.md
run.py
data_dictionary.md